<%= form_for(data_packet) do |f| %>
  <% if data_packet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_packet.errors.count, "error") %> prohibited this data_packet from being saved:</h2>

      <ul>
      <% data_packet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Timestamp %>
    <%= f.text_field :Timestamp %>
  </div>

  <div class="field">
    <%= f.label :Altitude %>
    <%= f.text_field :Altitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
