<p id="notice"><%= notice %></p>

<h1>Data Packets</h1>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_packets.each do |data_packet| %>
      <tr>
        <td><%= data_packet.Timestamp %></td>
        <td><%= data_packet.data %></td>
        <td><%= link_to 'Show', data_packet %></td>
        <td><%= link_to 'Edit', edit_data_packet_path(data_packet) %></td>
        <td><%= link_to 'Destroy', data_packet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Packet', new_data_packet_path %>
