<p id="notice"><%= notice %></p>
<table class=table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_packets.each do |data_packet| %>
      <tr>
        <td><%= data_packet.Timestamp %></td>
        <td><%= data_packet.data %></td>
        <td><%= link_to 'Show', data_packet %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Data Packet', new_data_packet_path %>

<svg width="960" height="880"></svg>

<script type="text/javascript">

d3.select("body").append("p");

</script>